<h1 style="text-align: center;"><a href="/"><img src="/images/logo-trans-ltgrey.png" width="258" height="60" alt="Tumblfeeds" border="0"></a></h1>
<div class="block" id="block-signup">
  <h2>Forgot your password?</h2>
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form' }) do |f| %>

      <%= devise_error_messages! %>

      <div class="group wat-cf">
        <%= f.label :email, :class => 'label' %>
        <%= f.text_field :email, :class => 'text_field' %>
      </div>

      <button class="button" type="submit">
        <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.send_instructions", :default => "Send me reset password instructions")}") %> <%= t("web-app-theme.send_instructions", :default => "Send me reset password instructions") %>
      </button>

    <% end %>

		<br style="clear: both;" />
		<br />

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>