<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", user_gifts_path  %></li>
      <% if current_user.id.to_s == @user_id -%>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_gift_path %></li>
      <% end -%>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => @user.full_name + "'s")  %> Gifts</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.gift.name", :default => t("activerecord.labels.name", :default => "Name")) %></th>
          <th><%= t("web-app-theme.url", :default => "URL")  %></th>
          <th><%= t("web-app-theme.price", :default => "Price")  %></th>
          <th style="width: 10em;">&nbsp;</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @gifts.each do |gift| -%>
        <% oddeven = cycle("odd", "even") -%>
        <tr class="<%= oddeven -%>">
          <td>
            <%= gift.id %>
          </td>
          <td>
            <%= current_user.id == gift.user_id ? link_to(gift.name, edit_user_gift_path(gift.user, gift)) : gift.name %>
          </td>
          <td>
            <%= !gift.url.blank? ? ('<a href="' + gift.url + '" target="_blank">' + gift.url.three_dot_chop + '</a>').html_safe : '&nbsp;'.html_safe %>
          </td>
          <td>
            <%= !gift.price.blank? ? number_to_currency(gift.price) : '&nbsp;'.html_safe %>
          </td>
          <td>
            <% if gift.user_id != current_user.id -%>
              <% unless gift.bought_by.nil? -%>
                Bought by: <%= gift.bought_by.full_name -%>
              <% else -%>
                &nbsp;
              <% end -%>
            <% else -%>
              &nbsp;
            <% end -%>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_gift_path(gift.user, gift) %>
            <% if current_user.id == gift.user_id -%> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_gift_path(gift.user, gift) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", user_gift_path(gift.user, gift), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            <% elsif gift.bought_by.nil? -%> |
              <%= link_to "#{t("web-app-theme.mark_bought", :default => "Mark Bought")}", buy_user_gift_path(gift.user, gift) %>
            <% elsif gift.bought_by_id == current_user.id -%> |
              <%= link_to "#{t("web-app-theme.mark_unbought", :default => "Mark Not Bought")}", unbuy_user_gift_path(gift.user, gift) %>
            <% end -%>
          </td>
        </tr>
        <% unless gift.description.blank? -%>
        <tr class="<%= oddeven -%>">
          <td>&nbsp;</td>
          <td colspan="4">
            <%= h gift.description.gsub(/\n/, '<br />').html_safe -%>
          </td>
          <td class="last">&nbsp;</td> 	
        </tr>
        <% end -%>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @gifts  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
