<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", circles_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_circle_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", circle_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
        <h3><%= @circle.name %></h3>
        <% if !@circle.description.blank? -%>
        <p>
          <%= @circle.description.gsub(/\n/, '<br />').html_safe -%>
        </p>
        <% end -%>
        <p>
          <ul class="list">
          <% @circle.users.each do |user| -%>
            <li>
              <div>
                <%= link_to user.full_name, user_gifts_path(user) -%> - <%= user.gifts.count -%> Gift<% if user.gifts.count != 1 -%>s<% end -%>
              </div>
            </li>
          <% end -%>
          </ul>
        </p>
      <div class="wat-cf">
        <% link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_circle_path(@circle), :class => "button" %> 
        <% link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), circle_path(@circle), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% if current_user.id == @circle.admin_user_id -%>
<% content_for :sidebar do -%>
<div class="block notice">
  <h3>Circle User Admin</h3>
  <div class="content">
    <p>
      <ul class="list">
        <% @circle.users.each do |user| -%>
          <li><%= user.full_name -%><% unless user.id == @circle.admin_user_id -%> [<%= link_to 'X', remove_circle_user_path(@circle, user), :confirm => "Are you sure you want to remove this user?" -%>]<% end -%></li>
        <% end -%>
      </ul>
    </p>
  </div>
</div>
<% end -%>
<% else -%>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
<% end -%>